---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home';
---

<Layout title="Hex To Text Converter">
	<main class="bg-black min-h-screen">
		<Home client:load />
	</main>
</Layout>
